<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Account</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="flex justify-center">
    <div class="lg:w-[600px] md:w-[500px] sm:w-[400px] xs:w-[380px] w-[340px] py-6 md:py-6 lg:py-12">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/user/createAccount" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <div class="block text-gray-700 text-sm font-bold mb-2">Username</div>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="fullname" placeholder="Enter fullname">
            </div>
            <div class="mb-4">
                <div class="block text-gray-700 text-sm font-bold mb-2">Email</div>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="email" placeholder="Enter Email">
            </div>
            <div class="mb-4">
                <div class="block text-gray-700 text-sm font-bold mb-2">Password</div>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" name="password" placeholder="Enter Password">
            </div>
            <div class="mb-6">
                <div class="block text-gray-700 text-sm font-bold mb-2">Image</div>
                <label class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline block text-gray-400 font-normal" for="image">Choose File</label>
                <input type="file" name="image" id="image" class="hidden">
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Create</button>
            </div>
        </form>
        <% if(error.length > 0) {%>
            <div class="text-center text-red-600 text-xs">
                <%= error[0] %>
            </div>
        <% } %>
        <p class="text-center text-gray-500 text-xs absolute w-full bottom-4 right-0">
            &copy;2024 Scatch Corp. All rights reserved.
        </p>
    </div>
</body>
</html>