<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Shop</title>
</head>
<body class="w-screen h-screen">
    <div class="w-full h-full">
        <!-- Menu Bar -->
        <nav class="flex justify-between items-center w-full xl:h-24 lg:h-20 md:h-16 sm:h-14 h-12 shadow-md absolute top-0 left-0 xl:px-16 lg:px-14 md:px-12 sm:px-10 xs:px-8 px-6">
            <div class="flex items-center">
                <h1 class="font-bold text-blue-500 lg:text-4xl md:text-3xl sm:text-2xl text-xl cursor-pointer">Scatch</h1>
            </div>
            <div class="flex justify-evenly items-center">
                <form action="/user/loginPage" method="get">
                    <button class="text-orange-500 hover:text-orange-700 font-bold py-2 md:px-4 sm:px-3 px-2 lg:text-base sm:text-sm text-xs" type="submit">Login</button>
                </form>
                <button class="text-yellow-500 hover:text-yellow-700 font-bold py-2 md:px-4 sm:px-3 px-2 lg:text-base sm:text-sm text-xs">Cart</button>
                <button class="text-green-500 hover:text-green-700 font-bold py-2 md:px-4 sm:px-3 px-2 lg:text-base sm:text-sm text-xs">Orders</button>
                <button class="text-gray-500 hover:text-gray-700 font-bold py-2 md:px-4 sm:px-3 px-2 lg:text-base sm:text-sm text-xs">Admin Panel</button>
        </nav>        
       <div class="w-full h-full flex xl:pt-24 lg:pt-20 md:pt-16 sm:pt-14 pt-12 xl:px-16 lg:px-14 md:px-12 sm:px-10 xs:px-8 px-6">
             <!-- Side Left Bar -->
            <div class="h-full flex flex-col xl:w-44 lg:w-40 md:w-32 sm:w-24 xs:w-20 w-16 items-start bg-gray-300">
                <button class="text-gray-800 font-bold py-2 lg:text-lg md:text-base sm:text-sm text-xs">Filter by</button>
                <button class="text-gray-800 font-bold py-2 lg:text-lg md:text-base sm:text-sm text-xs">Sort by</button>
            </div>
            <div>
                hello
            </div>
       </div>
    </div>
</body>
</html>